<% include ../partials/header %>

<div class="container">
    <div class="row">
       <h1 style="text-align: center;">edit<%= %></h1>
        
        <div style="width: 45%; margin: 30px auto;">
            <form action="/campgrounds/<%= campground_id%>/comments/<%= comment._id%>?_method=PUT" method="POST"> <!--we have 2 times id, so here "campground_id" without"."-->
                <div class="form-group">
                    <textarea rows="3" class="form-control" type="text" name="comment[text]" placeholder="comment here" required><%= comment.text %></textarea>
                </div>
                <div class="form-group">
                    <button class=" waves-effect waves-light btn btn-block" >submit 
                    <i class="material-icons">send</i></button>
                </div>
            </form>
            
            <a href="/campgrounds">Go back</a>
        </div>    
    </div>
</div>

<% include ../partials/footer %>