<% include partials/header %>

<div class="container">
    <div class="row">
       <h1 id="loginregister">Sing Up</h1>
        
        <div style="width: 30%; margin: 30px auto;">
            <form action="/register" method="post">
                <input type="text" name="username" placeholder="username" required>
                <input type="password" name="password" placeholder="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,10}" 
                    required title="Must contain at least one number and one uppercase and lowercase letter, and 5 to 10">
                    <button class="waves-effect waves-light btn  btn-block" type="submit">
                        Sign Up
                    </button>
            </form>
            <br>
            <a href="/slackspots">Go back</a>
        </div>    
    </div>
</div>

<% include partials/footer %>
