<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container" id="jumbo">
            <h1><span class="icon-ratchet"></span> Welcome to Surf Point </h1>
            <p>For a lot of surfers, the best spot to surf would be the one where wind, swell, direction, tides, and seafloor meet. Wind creates the quality of the surfing waves, while its force and interaction with the direction of the swell, the tide in a certain hour, and type and status of the ocean floor create a certain wave condition. Popular surfers have traveled the world looking for the best waves, so here is a rundown on what they found to be the best surfing spots in the world.</p>
            <p>
                <a class="waves-effect waves-light btn" href="/slackspots/new">Add new slackspot</a>
            </p>
            <p>
                <form action="/slackspots" method="GET" class="form-inline">
                    <div class="form-group">
                        <input class="form-control" id="search" type="text" name="search" placeholder="SlackSpots search..." >
                        <!--<input type="submit" value="Search" class="waves-effect waves-light btn">-->
                    </div>
                </form>
            </p>
        </div>
    </header>
    
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <div class="col-md-12">
            <% if(noMatch !== null) { %>
            <h3> <%= noMatch %> </h3>
            <% } %>
        </div>
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img id="img200" src="<%= campground.image %>">
                    <div class="caption">
                        <%= campground.name %>
                    </div>
                    <p>
                        <a href="/slackspots/<%= campground._id %>" class="waves-effect waves-light btn">More info</a>
                    </p>
                </div>
            </div>
        <% }); %>
        
        
    </div>
</div>

<% include ../partials/footer %>